<nav class="nav-primary" role="navigation" >
    <ul>
        <li><a href="/coding-standards/html.html">HTML</a></li>
        <li><a href="/coding-standards/css.html">CSS</a></li>
        <li><a href="/coding-standards/sass.html">SASS</a></li>
        <li><a href="/coding-standards/javascript.html">JavaScript</a></li>
        <li><a href="/coding-standards/php.html">PHP</a></li>
        <li><a href="/coding-standards/database.html">Database</a></li>
        <li><a href="/coding-standards/filenames.html">Filenames</a></li>
        <li><a href="/coding-standards/git.html">Git</a></li>
        <li><a href="/coding-standards/browser-testing.html">Browser Testing</a></li>
    </ul>
</nav>